@charset " UTF-8";

/* Paleta de cores
    verde: #49a09d
    lilás: #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Faz com que o tamanho total dos elementos inclua bordas e preenchimento, facilitando o controle do layout.*/
}
body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}
main {
    position: relative; /* posicionas os filhos de mais relativos a posição dele*/
    height: 100vh;
    width: 100vw;
   
    
}
section#login {
    position: absolute; /* configura a caixa para ser posicionada como vc esolher*/
    top: 50%;
    left: 50%;
    
    overflow: hidden; /*esconde tudo que estiver fora da borda*/
    transform: translate(-50%, -50%);


    background-color: white;
    width:250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.438);

    transition:  width .3s, height .3s;
    transition-timing-function: ease; /*suavisa a animação criada no transition*/
  
}
section#login > div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/predio\(1\).jpg) no-repeat;
    background-size: cover;
    height: 200px;
    


}
section > div#formulario {
    display: block;
    padding: 10px;
    
}
div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}
div#formulario > p {
    font-size: 0.8em;
    
}
form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;   
}
form > input[type=submit]:hover {
    background-color: #1d4241;
  
}
form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white ;
    border: 1px solid #348380;
    border-radius: 5px;
    text-decoration: none;
    color: #3e8684;
}
form > a.botao:hover {
    background-color:  #3ebeba;
    color: #ffffff;
    
}
form > a.botao > span {
    font-size: 0.8em;
}
.campo {
    background-color: #602c82cb;
    display: flex;
    align-items: center;   /* alinha verticalmente */
    gap: 2px;             /* espaço entre label e input */
    margin-bottom: 15px;   /* espaço entre os campos */
    border-radius: 5px;
    height:40px;
    color: white;
    
}

.campo label {
     min-width: 60px;   /* largura fixa para alinhar */
}
div > input[type=email], div > input[type=password] {
    background-color: #ace2e0;
    border: none;
    border-radius: 5px;
    box-shadow: inset 1px 1px 1px solid black;
    height: 31px;
    width: 300px;

}
/*fim*/